.auth {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 0;
    font-size: 1.7em;
  }

  form {
    .buttons {
      display: flex;
      justify-content: space-around;
      button {
        font-size: 13px;
        padding: 0 12px 0;
      }
    }
  }
  .register {
    display: none;
  }
}
